<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NebuloGo</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
<ul>
    <li><a href="#files">Files</a></li>
    <!-- <li><a href="#contact">Logs</a></li> -->
    <!-- <li style="float:right"><a href="#profile">Profile</a></li> -->
</ul>
<div class="files" id="files">
    <ul>
        <div id="filePlaceholder"></div>
    </ul>
</div>
<div id="progressContainer" class="progressContainer"></div>
<div class="custom-menu" id="custom-menu">
    <button onclick="renameFile()">Renommer</button>
    <button onclick="deleteFile()">Supprimer</button>
    <button>Partager</button>
</div>

<script defer>
    let ActualPath = "{{.ActualPath}}";
    let UserId = "{{.UserId}}"
    let SelectedItem = new Map();
    SelectedItem.set('Name', "");
    SelectedItem.set('Type', "");
    const MAX_PARALLEL_UPLOADS = 3;

    // ---------------------- BROWSING FILES ----------------------

    function changeFolder(folderId) {
        ActualPath += "" + folderId + "/"
        // Modifier l'URL sans recharger la page
        history.pushState({ path: ActualPath }, null, '?path=' + ActualPath);

        // Charger les nouvelles données de manière dynamique
        loadFolderContent();
    }
    function loadFolderContent() {
        fetch("/api/v1/files/content?" + "userId=" + UserId + "&" + "path=" + ActualPath, {
            method: 'GET',
            credentials: 'include'
        })
            .then(response => response.json())
            .then(data => {
                // Mettre à jour l'interface avec les nouvelles données du dossier
                document.getElementById('filePlaceholder').innerHTML = renderFolderContent(data);
            });
    }

    function renderFolderContent(data) {
        // Générer le HTML des fichiers et sous-dossiers ici
        return data.map(item => {
            if (item.Type === 'file') {
                return `<div class="item" data-info="${item.Name}" data-type="${item.Type}"><i class='bx bx-file'></i> <a href="/api/v1/files?userId=${UserId}&path=${ActualPath}&filename=${item.Name}">${item.Name}</a></div>`;

            } else if (item.Type === 'directory') {
                return `<div class="item" data-info="${item.Name}" data-type="${item.Type}" onclick="changeFolder('${item.Name}')"><i class='bx bx-folder'></i> ${item.Name}</div>`;
            }
        }).join('');
    }
    window.addEventListener('popstate', (event) => {
        ActualPath = (event.state && event.state.path !== null) ? event.state.path : "";
        loadFolderContent()
    });
    // ---------------------- UPLOAD FILE ----------------------
    const dropZone = document.getElementById('files');

    // Prévenir le comportement par défaut pour permettre le drag & drop
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropZone.addEventListener(eventName, (e) => e.preventDefault());
    });

    // Ajouter une classe quand l'élément est survolé par un fichier
    ['dragenter', 'dragover'].forEach(eventName => {
        dropZone.addEventListener(eventName, () => {
            //dropZone.classList.add('hover');
        });
    });

    // Retirer la classe quand le fichier quitte la div
    ['dragleave', 'drop'].forEach(eventName => {
        dropZone.addEventListener(eventName, () => {
            //dropZone.classList.remove('hover');
        });
    });

    // Traiter le fichier quand il est déposé
    dropZone.addEventListener('drop', (event) => {
        const files = event.dataTransfer.files;
        if (files.length) {
            handleFiles(files);
        }
    });

    // Fonction pour traiter les fichiers
    // Fonction pour traiter et uploader les fichiers avec limite en parallèle
    function handleFiles(files) {
        // Vider le conteneur de progressions existantes
        progressContainer.innerHTML = '';

        // Convertir la FileList en Array
        const fileArray = Array.from(files);

        // Créer un tableau pour suivre les fichiers en attente
        let queue = fileArray.slice(); // File d'attente
        let activeUploads = 0; // Nombre d'uploads actifs

        // Fonction pour lancer les uploads
        function startUpload() {
            while (activeUploads < MAX_PARALLEL_UPLOADS && queue.length > 0) {
                const file = queue.shift(); // Prendre un fichier de la queue
                uploadFile(file); // Lancer l'upload
            }
        }

        // Fonction pour uploader un seul fichier
        function uploadFile(file) {
            activeUploads++;

            // Créer des éléments pour la barre de progression
            const progressWrapper = document.createElement('div');
            progressWrapper.style.marginBottom = '10px';

            const progressBarContainer = document.createElement('div');
            progressBarContainer.style.width = '100%';
            progressBarContainer.style.backgroundColor = '#f3f3f3';

            const progressBar = document.createElement('div');
            progressBar.style.width = '0%';
            progressBar.style.height = '20px';
            progressBar.style.backgroundColor = '#4caf50';

            const progressText = document.createElement('p');
            progressText.textContent = '0%';

            progressBarContainer.appendChild(progressBar);
            progressWrapper.appendChild(progressBarContainer);
            progressWrapper.appendChild(progressText);
            progressContainer.appendChild(progressWrapper);

            const formData = new FormData();
            formData.append('file', file);

            axios.post("/api/v1/files?UserId=" + UserId + "&" + "path=" + ActualPath, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
                withCredentials: true,
                onUploadProgress: function(progressEvent) {
                    const percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                    progressBar.style.width = percentCompleted + '%';
                    progressText.textContent = percentCompleted + '%';
                }
            })
                .then(response => {
                    console.log('Upload réussi :', response.data);
                    loadFolderContent()
                })
                .catch(error => {
                    console.error('Erreur lors de l\'upload :', error);
                })
                .finally(() => {
                    // Décrémenter le compteur d'uploads actifs et lancer le prochain upload
                    activeUploads--;
                    startUpload(); // Relancer la file d'attente si d'autres fichiers sont présents
                });
        }

        // Démarrer le premier ensemble d'uploads
        startUpload();
    }

    function deleteFile() {
        fetch("/api/v1/files?" + "userId=" + UserId + "&" + "path=" + ActualPath + "&" + "actualName=" + SelectedItem.get('Name'), {
            method: 'DELETE',
            credentials: 'include'
        })
            .then(_ => {
                loadFolderContent()
            });
    }

    function renameFile() {
        let newName = "HEHEHEHA"
        fetch("/api/v1/files?" + "userId=" + UserId + "&" + "path=" + ActualPath + "&" + "actualName=" + SelectedItem.get('Name') + "&" + "newName=" + newName, {
            method: 'PATCH',
            credentials: 'include'
        })
            .then(_ => {
                loadFolderContent()
            });
    }
    loadFolderContent()

    document.addEventListener('contextmenu', function (e) {
        const menu = document.getElementById('custom-menu');

        const clickedElement = e.target.closest('.item');
        if (clickedElement) {
            e.preventDefault();
            menu.style.top = `${e.clientY}px`;
            menu.style.left = `${e.clientX}px`;
            menu.style.display = 'block';

            const name = clickedElement.getAttribute('data-info');
            const type = clickedElement.getAttribute('data-type');
            SelectedItem.set('Name', name);
            SelectedItem.set('Type', type);
            //console.log(type + " | " + name);
        }
    });

    document.addEventListener('click', function () {
        const menu = document.getElementById('custom-menu');
        menu.style.display = 'none';  // Cacher le menu personnalisé lorsque vous cliquez ailleurs
        SelectedItem.set('Name', "");
        SelectedItem.set('Type', "");
    });
</script>
</body>

</html>