<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - NebuloGo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/toast.css">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
<div id="toast"></div>
<div class="bg-white rounded-lg shadow-md p-6 w-96">
    <h1 class="text-2xl font-bold text-center mb-6">Connexion</h1>
    <form id="loginForm">
        <div class="mb-4">
            <label for="username" class="block text-sm font-medium text-gray-700">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" pattern="[a-zA-Z0-9._]+" required
                   class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" placeholder="Entrez votre nom d'utilisateur">
        </div>
        <div class="mb-6">
            <label for="password" class="block text-sm font-medium text-gray-700">Mot de passe</label>
            <input type="password" id="password" name="password" required
                   class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" placeholder="Entrez votre mot de passe">
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white font-semibold py-2 rounded-md hover:bg-blue-600">Se connecter</button>
    </form>
    <!--<p class="mt-4 text-center text-sm text-gray-600">
        Pas de compte ? <a href="/register" class="text-blue-500 hover:underline">S'inscrire</a>
    </p>-->
</div>
<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        // Prepare the parameters
        const params = new URLSearchParams();
        params.append('username', document.getElementById('username').value);
        params.append('password', document.getElementById('password').value);

        // Send POST request using fetch
        fetch('/api/v1/auth/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: params.toString()
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => { throw new Error(err.message); });
                }
                return response.json();
            })
            .then(data => {
                showToast("User logged in");
                setTimeout(() => {
                    window.location.replace("/drive");
                }, 3000);
            })
            .catch(error => {
                showToast("Error: " + error.message);
            });
    });

    function showToast(message) {
        const toast = document.getElementById("toast");
        toast.innerText = message;
        toast.className = "show";
        setTimeout(() => {
            toast.className = toast.className.replace("show", "");
        }, 8000);
    }
</script>
</body>
</html>
